.find1{
position: absolute;
left: 22%;
}
.find2{
position: absolute;
left: 45%;
}
.find3{
position: absolute;
left: 75%;
}
.find{
position: absolute;
}
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}
body{
		font-family:OpenSans;
		background-image: url("img/6.jpg");
	}
th,td{
		font-size : <size>px/em/cm;
		text-align:center;
		border: 1px solid #CCC;
		color : white;
}

table{
	border=1 frame=void rules=rows;
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}
label{
	font-family: monospace;
	color:white;
	font-size:100%;
}
@font-face{
			font-family:OpenSans;
			src: url('OpenSans.woff2') format('woff2');
	}
input[type=submit]
{
	left:90%;
	position: relative;
	text-align: center;
	border: 5% solid #1ECD97;
}